<%= semantic_form_for @reservation do |form| %>
	<%= form.inputs do %>
		<%= form.input :user_id %>
		<%= form.input :number_of_participants %>
		<%= form.input :reservation_date, :as => :string, :input_html => { :id => "reservationDatePicker" }%>
		<%= form.input :courts, :as => :check_boxes, :include_blank => false, :collection => Court.all%>
		<%= form.input :start_time, :as => :select, :collection => @time_array.map{|t| t.strftime("%I:%M%p")}, :include_blank => false %>
		<%= form.input :end_time, :as => :select, :collection => @time_array.map{|t| t.strftime("%I:%M%p")}, :include_blank => false %>
	<% end %>
	
	<label>
  		<input type="checkbox" id="show_court_resevations_checkbox" title="Show Open and Reserved Court Times" onchange='showCourtReservations(this);'>
  			Show Open and Reserved Court Times for this Reservation Date
	</label>
	<br />
	
	<div id="update_content" style="display:none;">		
		<%= render 'court_reservations_table' %>
	</div>
	
	<label>
  		<input type="checkbox" id="show_equipment_reservations_checkbox" title="Add Equipment to this Reservation" onchange='showEquipmentReservation(this);'>
  			Add Equipment to this Reservation
	</label>
	<br />
	
<div id="equipment-reservation">
<div id="all-items">
    <h2 class="ui-widget-header">Items</h2>
    <div id="catalog">
    	<% Category.all.each do |cat| %>
        	<h2><a href="#"><%= cat.name %></a></h2>
        	<div>
            	<ul>
            		<% Item.find_all_by_category_id(cat.id).each do |item| %>
            			<% if !(item.reservations.detect{|r| r.reservation_date == @reservation_date})%>
                		<li id=""><div class="item"><span class="item-name"><%= "#{cat.name} ##{item.item_number}" %></span><span class="item-id"><%= item.id %></span></div></li>
                		<% end %>
                	<% end %>
            	</ul>
        	</div>
        <% end %>
    </div>
</div>

<div id="reservation-cart">
    <h2 class="ui-widget-header">Equipment Reservation Cart</h2>
    <div class="ui-widget-content">
    	<div class = "cart-head">
    		<span class="name">Item Name</span>
    	</div>
        <ul id="reservation-cart-list">
        <% if @reservation_items != nil %>
        	<% @reservation_items.each do |i| %>
        		<% @item = Item.find_by_id(i) %> 
        		<li>
        		<input type="hidden" name="items[]" value="<%=@item.id%>">
        		<button type="button" class="delete" id="<%=@item.id%>">✕</button>
            	<span class="name"> <%= "#{@item.category.name} ##{@item.item_number}" %></span>
            	</li>        		
        	<% end %>
        <% end %>	
        </ul>
    </div>
</div>
<div class="clear"></div>
</div>
	
	<%= form.actions do %>
		<%= form.action :submit, :as => :button %>
	<% end %>
<% end %>

<style>

	/* equipment reservation divs*/
	#all-items
	{
		width:400px;
		float:left;
	}
	#reservation-cart
	{
		width:300px;
		float:left;
		margin-left:50px;
	}
	#equipment-reservation
	{
		display:none;
	}
	.item
	{
		margin-top:5px;
		text-align:center;
		padding:3px;
		margin-bottom:8px;
		border:1px solid black;
	}
	.item:hover
	{
		background:lightgrey;
		cursor:move;
	}
	.item-id
	{
		display:none;
		font-size:1px;
	}
	.clear
	{
		clear:both;
	}
	
	/* cart */
	#reservation-cart .cart-head {
    	overflow: hidden;
    	margin: 0 10px;
    	height: 26px;
    	line-height: 26px;
    	color: #666;
    	border-bottom: 1px solid #ddd;
	}
	#reservation-cart .cart-head .name { float: left }
	#reservation-cart ul { padding-bottom: 10px }

	#reservation-cart ul li {
    	position: relative;
    	clear: both;
    	overflow: hidden;
    	margin: 0 10px;
    	height: 26px;
    	line-height: 32px;
    	border-bottom: 1px dashed #eee;
	}
	
	
	/* delete button */
	#reservation-cart ul li button.delete {
	margin-right:10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    border: 0;
    color: #EE5757;
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    transition: opacity .2s ease;
	}
	#reservation-cart ul li button.delete:hover {
    	color: #fff;
    	background-color: #ffa0a3;
	}
</style>

<script type="text/javascript">

	$(document).ready(function() {
	
		$("#reservationDatePicker").change(function(){
			reloadCourtReservations();
		});
		$('#reservationDatePicker').datepicker({ dateFormat: "yy-mm-dd" });
		
		//shopping cart stuff
		$( "#catalog" ).accordion({
			collapsible:true,
			heightStyle: "content",
			active: false
		});
        $( "#catalog li" ).draggable({
        	cursor: "move", 
        	cursorAt: { top: 10, left: 56 },
            appendTo: "body",
            helper: "clone"
        });
        $( "#reservation-cart" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
                //ui.draggable.remove().html();
                var cart = $(this),move = ui.draggable;
                addCart(cart,move);
            }
        });
        
	});
		
		function reloadCourtReservations(){
 			var date = $("#reservationDatePicker").val();
  			$.ajax({
    			url: '/reservations/load_court_reservations',
    			data: {'date': date},
    			dataType: 'script',
    			type: 'GET',
    			success: function(data) { data }
  			});
		}
		
		function addCart(cart, move) {
			var id = move.find(".item-id").html();
			
			var alreadyInCart = false;
			
			$("input:hidden").each(function (){
				if($(this).val() == id)
				{
					alreadyInCart = true;
				}

			});
			
			if(!alreadyInCart)
			{
			cart.find("ul").append('<li>'
    		+ '<input type="hidden" name="items[]" value="'+ id +'">'
    		+ '<button type="button" class="delete" id="' + id + '">✕</button>'
            + '<span class="name">' + move.find(".item-name").html() + '</span></li>');
            }
    		
		}
		
		function showCourtReservations(cb){
			if(cb.checked)
			{
				$('#update_content').css('display','inline');
			}
			else
			{
				$('#update_content').css('display','none');
			}
		}
		
		function showEquipmentReservation(cb){
			if(cb.checked)
			{
				$('#equipment-reservation').css('display','inline');
				items = [];
			}
			else
			{
				$('#equipment-reservation').css('display','none');
				items = [];
				$('#reservation-cart-list').empty();
				
			}
		}

		
		$("#reservation-cart ul li button.delete").live("click", function () {
    		$(this).closest("li").remove();
    		//item array management
    		var id = $(this).id;
    		var position = $.inArray(id,items);
    		if(position != -1)
    		{
    			items.splice(position,1);
    		}
		});
	

</script>