<%= semantic_form_for :reservation, :url => '../reservations' do |form| %>
	<%= form.inputs do %>
		<%= form.input :user_id %>
		<%= form.input :number_of_participants %>
		<%= form.input :reservation_date %>
	<% end %>
	
	<table border="3">
		<tr>
		<th>Times</th>
			<% @courts.each do |court| %>
				<th> <%= court.name%> </th>
			<% end %>
		</tr>
			<% @time_array.each do |time|%>
				<tr>
					<td><%= time.strftime("%I:%M%p") %></td>
					<% @courts.each do |court| %>
						<% if @r=court.reservations.detect {|r| r.start_time.strftime("%I:%M%p") <= time.strftime("%I:%M%p") && r.end_time.strftime("%I:%M%p") > time.strftime("%I:%M%p") } %>
							<td style="background:red;"><%= link_to "CLOSED", reservation_path(@r) %></td>
						<%else%>
							<td style="background:lightgreen;">OPEN<br /> <%= form.input "court_#{court.id}_times[#{time}]", :as => :boolean, :label => "" %></td>
						<%end%>
					<% end %>
				</tr>
			<% end %>
	</table>
	
	<%= form.actions do %>
		<%= form.action :submit, :as => :button %>
	<% end %>
<% end %>