<%= semantic_form_for @reservation do |form| %>
	<%= form.inputs do %>
		<%= form.input :user_id %>
		<%= form.input :number_of_participants %>
		<%= form.input :reservation_date, :as => :string, :input_html => { :id => "reservationDatePicker" }%>
		<%= form.input :courts, :as => :check_boxes, :include_blank => false, :collection => Court.all%>
		<%= form.input :start_time, :as => :select, :collection => @time_array.map{|t| t.strftime("%I:%M%p")}, :include_blank => false %>
		<%= form.input :end_time, :as => :select, :collection => @time_array.map{|t| t.strftime("%I:%M%p")}, :include_blank => false %>
	<% end %>
	
	<label>
  		<input type="checkbox" id="show_court_resevations_checkbox" title="Show Open and Reserved Court Times" onchange='showCourtReservations(this);'>
  			Show Open and Reserved Court Times for this Reservation Date
	</label>
	
	<%= form.actions do %>
		<%= form.action :submit, :as => :button %>
	<% end %>
	
	<div id="products">
    <h1 class="ui-widget-header">Items</h1>
    <div id="catalog">
        <h2><a href="#">T-Shirts</a></h2>
        <div>
            <ul>
                <li><h3>Lolcat Shirt</h3><p>detail</p></li>
                <li><h3>Cheezeburger Shirt</h3><p>detail</p></li>
            </ul>
        </div>
        <h2><a href="#">Bags</a></h2>
        <div>
            <ul>
                <li><h3>Zebra Striped</h3><p>detail</p></li>
            </ul>
        </div>
        <h2><a href="#">Gadgets</a></h2>
        <div>
            <ul>
                <li><h3>iPhone</h3><p>detail</p></li>
            </ul>
        </div>
    </div>
</div>
 
<div id="cart">
    <h1 class="ui-widget-header">Shopping Cart</h1>
    <div class="ui-widget-content">
    	<div>
    		<span>Item Name</span>
    		<span>Item Id</span>
    	</div>
        <ul>
        </ul>
    </div>
</div>
	
	<div id="update_content" style="display:none;">		
		<%= render 'court_reservations_table' %>
	</div>
<% end %>

<script type="text/javascript">

	$(document).ready(function() {
		$("#reservationDatePicker").change(function(){
			reloadCourtReservations();
		});
		$('#reservationDatePicker').datepicker({ dateFormat: "yy-mm-dd" });
		
		//shopping cart stuff
		$( "#catalog" ).accordion();
        $( "#catalog li" ).draggable({
            appendTo: "body",
            helper: "clone"
        });
        $( "#cart" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
                $( this ).find( ".placeholder" ).remove();
                var basket = $(this),move = ui.draggable;
                addBasket(basket,move);
            }
        });
	});
		
		function reloadCourtReservations(){
 			var date = $("#reservationDatePicker").val();
  			$.ajax({
    			url: '/reservations/load_court_reservations',
    			data: {'date': date},
    			dataType: 'script',
    			type: 'GET',
    			success: function(data) { data }
  			});
		}
		
		function addBasket(basket, move) {
    		basket.find("ul").append('<li>'
            + '<span class="name">' + move.find("h3").html() + '</span>'            
            + '<button type="button" class="delete">✕</button></li>');
		}
		
		function showCourtReservations(cb){
			if(cb.checked)
			{
				$('#update_content').css('display','inline');
			}
			else
			{
				$('#update_content').css('display','none');
			}
		}
		
		$("#cart ul li button.delete").live("click", function () {
    		$(this).closest("li").remove();
		});
	

</script>